# Node
node_modules/
npm-debug.log
yarn-error.log

# Android/IntelliJ
android/app/build/
android/app/gradle/
android/app/gradlew
android/app/gradlew.bat
android/.gradle
android/.idea
android/local.properties
android/*.iml
android/.settings

# iOS
ios/build/
ios/Pods/
ios/*.pbxuser
ios/*.perspectivev3
ios/*.mode1v3
ios/*.mode2v3
ios/*.xcuserstate
ios/project.xcworkspace
ios/xcuserdata

# Environment variables
.env

# Misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
